{% extends 'base.html' %}

{% block content %}
<h1>Resultado de la busqueda de Oficinas</h1>
{% if page_obj.paginator.count %}
  <p class="text-muted">{{ page_obj.paginator.count }} Total de Oficinas</p>
  <h2>Buscar Oficina</h2>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombre</th>
          <th scope="col">Nombre Corto</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for oficina in oficinas %}
        <tr>
          <th scope="row">{{ forloop.counter0|add:page_obj.start_index }}</th>
          <td>{{ oficina.nombre }}</td>
          <td>{{ oficina.nombre_corto|slice:":10" }}</td>
          <td>
            <a href="{% url 'oficina:oficina_detalle' oficina.pk %}" class="btn btn-info btn-sm">Ver</a>
            <a href="{% url 'oficina:editar' oficina.pk %}" class="btn btn-warning btn-sm">Modificar</a>
            <a href="{% url 'oficina:eliminar' oficina.pk %}" class="btn btn-danger btn-sm">Eliminar</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
</div>
  <div class="pagination">
    {% include 'pagintator.html' %}
  </div>
  <a href="{% url 'oficina:lista' %}" class="btn btn-primary">Volver a la lista</a>
  {% else %}
     <div class="alert alert-warning">No se encontraron oficinas.</div>
        <a href="{% url 'oficina:lista' %}" class="btn btn-primary">Volver a la lista</a>

  {% endif %}
{% endblock content %}